footer
  margin: 1em 0
  display: block
  width: 100%
  border-top: 1px solid #E5E5E5

.start
  font-size: 11px
  padding: 0
  line-height: 1
  background-color: #fff
  p
    margin: 0 0 5px 0

.start__spacer,
.start__help
  color: #b6b6b6
  font-size: 11px
  line-height: 1
  padding: 0 0 0 2px
  margin: 0

.start__item
  min-width: 60px
  display: inline-block

.start__help
  font-style: italic
