<footer>
  <div class="row">
    <div class="start">
      <p>
        <span class="start__item"><a href="index.html" title="Страница структуры проекта и наглядного процесса работы над преоктом">Прогресс</a></span>
        <span class="start__spacer">—</span>
        <span class="start__help">Страница структуры проекта и наглядного процесса работы над преоктом</span>
      </p>
      <p>
        <span class="start__item"><a href="guideline.html" title="Страница с общими типовыми элементами в каждом проекте, их стиялми и базовым JS">Гайдлайны</a></span>
        <span class="start__spacer">—</span>
        <span class="start__help">Страница с общими типовыми элементами в каждом проекте, их стиялми и базовым JS</span>
      </p>
    </div><!-- /.start -->
  </div><!-- /.row -->
</footer>

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="assets/scripts/scripts.js"></script>
<!-- <script src="assets/scripts/vendor.js"></script> -->
