<section class="page pt-40 pb-40">
  <div class="page__wrap wrap">
    <div class="page__content typography">
      <h1>Шаблон проекта для быстрого старта</h1>
      <p>Начать можно с уделания блока <code>app/src/components/welcome/*</code> и отредактируйте страницу <code>app/src/pages/index.html</code>.</p>
      <p>Далее осмотреть <a href="/example.html" class="link">страницу с примерами</a> блоков и компонентов.</p>
    </div>
    <!-- /.welcome__content -->
  </div>
  <!-- /.welcome__wrap -->
</section>
<!-- /.welcome -->
