{% set pathicons = "assets/images/i" %}
{% set brandcolor = "#ffffff" %}

  <link sizes="57x57"   href="{{ pathicons }}/apple-icon-57x57.png"   rel="apple-touch-icon" />
  <link sizes="60x60"   href="{{ pathicons }}/apple-icon-60x60.png"   rel="apple-touch-icon" />
  <link sizes="72x72"   href="{{ pathicons }}/apple-icon-72x72.png"   rel="apple-touch-icon" />
  <link sizes="76x76"   href="{{ pathicons }}/apple-icon-76x76.png"   rel="apple-touch-icon" />
  <link sizes="114x114" href="{{ pathicons }}/apple-icon-114x114.png" rel="apple-touch-icon" />
  <link sizes="120x120" href="{{ pathicons }}/apple-icon-120x120.png" rel="apple-touch-icon" />
  <link sizes="144x144" href="{{ pathicons }}/apple-icon-144x144.png" rel="apple-touch-icon" />
  <link sizes="152x152" href="{{ pathicons }}/apple-icon-152x152.png" rel="apple-touch-icon" />
  <link sizes="180x180" href="{{ pathicons }}/apple-icon-180x180.png" rel="apple-touch-icon" />
  <link href="{{ pathicons }}/apple-icon-152x152.png" rel="apple-touch-icon" />

  <link sizes="192x192" href="{{ pathicons }}/favicon-192x192.png" rel="icon" type="image/png" />
  <link sizes="160x160" href="{{ pathicons }}/favicon-160x160.png" rel="icon" type="image/png" />
  <link sizes="96x96"   href="{{ pathicons }}/favicon-96x96.png"   rel="icon" type="image/png" />
  <link sizes="32x32"   href="{{ pathicons }}/favicon-32x32.png"   rel="icon" type="image/png" />
  <link sizes="16x16"   href="{{ pathicons }}/favicon-16x16.png"   rel="icon" type="image/png" />

  <link rel="shortcut icon" href="{{ pathicons }}/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="{{ pathicons }}/favicon.ico" type="image/x-icon" />

  <meta name="msapplication-square70x70logo" content="{{ pathicons }}/smalltile.png" />
  <meta name="msapplication-square150x150logo" content="{{ pathicons }}/mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="{{ pathicons }}/widetile.png" />
  <meta name="msapplication-square310x310logo" content="{{ pathicons }}/largetile.png" />

  <meta name="theme-color" content="{{ brandcolor }}" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="application-name" content="" />
  <meta name="msapplication-tooltip" content="" />
  <meta name="msapplication-TileColor" content="{{ brandcolor }}" />
  <meta name="msapplication-starturl" content="" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="msapplication-TileImage" content="{{ pathicons }}//ms-icon-144x144.png" />
