  <link sizes="57x57"   href="assets/images/i/apple-touch-icon-57x57.png"   rel="apple-touch-icon"/>
  <link sizes="60x60"   href="assets/images/i/apple-touch-icon-60x60.png"   rel="apple-touch-icon"/>
  <link sizes="72x72"   href="assets/images/i/apple-touch-icon-72x72.png"   rel="apple-touch-icon"/>
  <link sizes="76x76"   href="assets/images/i/apple-touch-icon-76x76.png"   rel="apple-touch-icon"/>
  <link sizes="120x120" href="assets/images/i/apple-touch-icon-120x120.png" rel="apple-touch-icon"/>
  <link sizes="114x114" href="assets/images/i/apple-touch-icon-114x114.png" rel="apple-touch-icon"/>
  <link sizes="144x144" href="assets/images/i/apple-touch-icon-144x144.png" rel="apple-touch-icon"/>
  <link sizes="152x152" href="assets/images/i/apple-touch-icon-152x152.png" rel="apple-touch-icon"/>
  <link sizes="180x180" href="assets/images/i/apple-touch-icon-180x180.png" rel="apple-touch-icon"/>

  <link sizes="192x192" href="assets/images/i/favicon-192x192.png" rel="icon" type="image/png"/>
  <link sizes="160x160" href="assets/images/i/favicon-160x160.png" rel="icon" type="image/png"/>
  <link sizes="96x96"   href="assets/images/i/favicon-96x96.png"   rel="icon" type="image/png"/>
  <link sizes="32x32"   href="assets/images/i/favicon-32x32.png"   rel="icon" type="image/png"/>
  <link sizes="16x16"   href="assets/images/i/favicon-16x16.png"   rel="icon" type="image/png"/>

  <link rel="shortcut icon" href="assets/images/i/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="assets/images/i/favicon.ico" type="image/x-icon"/>

  <meta name="msapplication-square70x70logo" content="assets/images/i/smalltile.png" />
  <meta name="msapplication-square150x150logo" content="assets/images/i/mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="assets/images/i/widetile.png" />
  <meta name="msapplication-square310x310logo" content="assets/images/i/largetile.png" />
