<!DOCTYPE html>
<html lang="ru" class="no-js">
  <head>
  {% block head %}
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />

    <title>{% if title %}{{ title }}{% else %}Шаблон проекта быстрого старта{% endif %}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}Шаблон проекта быстрого старта{% endif %}"/>
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}слова, ключевые{% endif %}" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="imagetoolbar" content="no" />
    <meta name="msthemecompatible" content="no" />
    <meta name="cleartype" content="on" />
    <meta name="HandheldFriendly" content="True" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />

    <meta name="google" value="notranslate" />

    {% include "layouts/favicons.html" %}
    {% include "layouts/social.html" %}

  {#
    <link rel="manifest" href="/manifest.json"/>
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="yandex-tableau-widget" content="logo=http://sitename.tld/assets/images/i/logo.png, color=#ffffff" />
  #}

    <link href="assets/styles/style.css" rel="stylesheet" />

    <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  {% endblock %}
  </head>
  <body{% if bodyclass %} class="{{ bodyclass }}"{% else %}{% endif %}>
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "blocks/footer/footer.html" %}
  </body>
</html>

