@import 'variables.sss'
@import 'default.sss'
@import 'typo.sss'

// MakeUP — px2px: дизайн на вёрстку
.px2px
  background-image: url('/px2px.png')
  background-attachment: scroll
  width: 1360px
  height: 8069px
  display: block
  position: absolute
  top: 0
  left: 50%
  margin: 0 0 0 -675px
  pointer-events: none
  opacity: .4
  filter: invert(100%)
  transition: all .3s
  z-index: 9999
