$GeneralFontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$BodyBackground:    rgb(255, 255, 255);

$link:              #008ACE;
$link-hover:        #CC0000;
$link-visited:      #B40EB4;

$SelectBackground:  rgb(255, 102, 0);
$SelectColor:       rgb(255, 255, 255);

$PlaceholderColor:  #abb6ba;

$sm: "only screen and (min-width: 48em)";
$md: "only screen and (min-width: 64em)";
$lg: "only screen and (min-width: 75em)";
