$body-bg:                 #fff;
$text-color:              #333333;

$link-color:              #008ACE;
$link-hover-color:        #CC0000;
$link-active-color:       #FF0000;
$link-visited-color:      #B40EB4;

$font-family-base:        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * .85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * .85)) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$border-radius-base:      3px !default;

$code-color:              #2f6f9f !default;
$code-bg:                 #f9f2f4 !default;

$hr-border:               #eee;

$selection-bg:            #FF6600;
$selection-color:         #fff;

$placeholder-color:       #abb6ba;

$sm: "only screen and (min-width: 48em)";
$md: "only screen and (min-width: 64em)";
$lg: "only screen and (min-width: 75em)";
