* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

html,
.root {
  font-size: 16px;
  line-height: 21px;
}

body {
  font-family: $GeneralFontFamily;
  background-color: $BodyBackground;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 10px 45px 0 30px;
}

main {
  flex: 1;
}
