* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

html,
.root {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

body {
  background-color: $body-bg;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0;

  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  font-family: $font-family-base;
  color: $text-color;

  @include antialias;
  @include text-size-adjust(100%);
}

main {
  flex: 1;
}

.hide {
  @include hidden;
}
