*::placeholder {
  color: $placeholder-color;
  opacity: 1;
}

*::placeholder-shown {
  color: $placeholder-color;
}

::selection {
  background: $selection-bg;
  color:      $selection-color;
}

input,
textarea,
button {
  outline: none;
  font-family: $font-family-base;
}

input[placeholder],
input:placeholder {
  text-overflow: ellipsis;
}

textarea {
  hyphens: auto;
}
