// изменим плёйсхолдер в лучшую сторону
*::placeholder
  color: #abb6ba
  opacity: 1
*::placeholder-shown
  color: #abb6ba

// предопределим выделение текста
::selection
  background: #ff6600
  color: #fff

// отключаем стандартную обводку у элементов форм
input,
textarea,
button
  outline: none
  font-family: $GeneralFontFamily
