// Ссылки
a {
  transition: .3s ease;
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid;

  &:focus {
    outline: none;
  }

  &:hover,
  &.hover {
    color: $link-hover-color;
    transition: .2s ease;
  }

  &:visited {
    color: $link-visited-color;

    &:hover {
      color: $link-hover-color;
      transition: .2s ease;
    }
  }

  &:active,
  &.active {
    color: $link-active-color;
  }

  &[href]:not([class]) {
    color: $link-color;
  }
}
