// links
a {
  transition: var(--global-transition-time) var(--global-transition-rule);
  text-decoration: none;
  color: var(--link-color);
  border-bottom: 1px solid var(--link-border-color);

  &:hover,
  &.hover {
    color: var(--link-hover-color);
    border-bottom-color: var(--link-hover-border-color);
  }

  &:active,
  &.active {
    color: var(--link-active-color);
    border-bottom-color: var(--link-active-border-color);
  }

  &:visited,
  &.visited {
    color: var(--link-visited-color);
    border-bottom-color: var(--link-visited-border-color);

    &:hover {
      color: var(--link-hover-color);
      border-bottom-color: var(--link-hover-border-color);
    }
  }

  &[href]:not([class]) {
    color: var(--link-color);
    border-bottom: 1px solid var(--link-border-color);
  }
}

.pseudolink {
  transition: var(--global-transition-time) var(--global-transition-rule);
  color: var(--link-color);
  border-bottom: 1px dashed var(--link-border-color);
  cursor: pointer;

  &:hover,
  &.hover {
    color: var(--link-hover-color);
    border-bottom-color: var(--link-hover-border-color);
  }

  &:active,
  &.active {
    color: var(--link-active-color);
    border-bottom-color: var(--link-active-border-color);
  }

  &:visited,
  &.visited {
    color: var(--link-visited-color);
    border-bottom-color: var(--link-visited-border-color);

    &:hover {
      color: var(--link-hover-color);
      border-bottom-color: var(--link-hover-border-color);
    }
  }
}
