$xs:  "only screen and (max-width: 575px)";
$sm:  "only screen and (min-width: 576px) and (max-width: 767px)";
$md:  "only screen and (min-width: 768px) and (max-width: 991px)";
$lg:  "only screen and (min-width: 992px) and (max-width: 1199px)";
$xl:  "only screen and (min-width: 1025px) and (max-width: 1280px)";
$xxl: "only screen and (min-width: 1281px)";
