/* Ссылки без дефолтного подчёркивания */
a {
  transition: .3s ease;
  text-decoration: none;
  color: #008ACE;
  border-bottom: 1px solid;

  :focus {
    outline: none;
  }

  &:hover {
    color: #CC0000;
    transition: .1s ease;
  }

  &:visited {
    color: #B40EB4;

    &:hover {
      color: #CC0000;
      transition: .1s ease;
    }
  }

  &[href]:not([class]) {
    /*color: #0000FF;*/
  }
}

/* адаптивный видео-блок */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border: 1px solid;

  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

code,
tt {
  background: #FFFCD7;
  border: 1px solid #FFFCD7;
  color: rgb(203, 55, 22);
  border-radius: 3px;
  padding: 2px 5px;
  font-size: .85em;
}

span.tsp {
  display: inline-block;
  width: .12em;
  overflow: hidden;
  text-decoration: inherit;
}

h1, .h1 {
  font-size: 54px;
  line-height: 63px;
  margin-top: 21px;
  margin-bottom: 42px;
}

h2, .h2 {
  font-size: 36px;
  line-height: 42px;
  margin-top: 21px;
  margin-bottom: 21px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 42px;
  margin-top: 21px;
  margin-bottom: 0px;
}

h4, .h4 {
  font-size: 16px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 0px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 0px;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0px;
  margin-bottom: 21px;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}
