@import 'media-variables';
@import "../helpers/functions-and-mixins.scss";

$font-family-base:         -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Ubuntu, Cantarell, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

html {
  --base-font-size: 16px;
  --base-line-height: 20px;
  --base-font-weight: 400;

  --base-light-color: #fff;
  --base-dark-color:  #000;

  --base-text-color: var(--base-dark-color);

  --link-color: rgb(0, 120, 255);
  --link-border-color: rgba(0, 120, 255, .35);

  --link-hover-color: rgb(204, 0, 0);
  --link-hover-border-color: rgba(204, 0, 0, .35);

  --link-active-color: rgb(255, 0, 0);
  --link-active-border-color: rgba(255, 0, 0, .35);

  --link-visited-color: rgb(180, 14, 180);
  --link-visited-border-color: rgba(180, 14, 180, .35);

  --base-font-family: #{$font-family-base};

  --base-max-width: 1200px;
  --base-padding-horisontal: 20px;
  --base-bg-color: var(--base-light-color);

  --base-border-radius: 4px;

  --base-focus: 4px solid var(--link-color);

  @each $devide-width in $xs, $sm, $md {
    @media #{$devide-width} {
      --base-max-width: none;
    }
  }
}

$body-bg:                 #fff;
$text-color:              #333333;

$link-color:              #008ACE;
$link-hover-color:        #CC0000;
$link-active-color:       #FF0000;
$link-visited-color:      #B40EB4;

$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * .85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * .85)) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$border-radius-base:      3px !default;

$code-color:              #2f6f9f !default;
$code-bg:                 #f9f2f4 !default;

$hr-border:               #eee;

$selection-bg:            #FF6600;
$selection-color:         #fff;

$placeholder-color:       #abb6ba;
