// базовый зоопарк шрифтов
$_FONT_FAMILY : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Ubuntu, Cantarell, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !global;
// базовый размер шрифта
$_FONT_SIZE   : 16px !global;
$_SPACE       : 16px !global;
$_BRAND-COLOR : #ffffff !global;
