// включалки
$spacers_enable : true;
$styles_debug   : false !global;

// базовый отступ
$space          : $_SPACE;

$font-family    : $_FONT_FAMILY;
$font-size      : $_FONT_SIZE;
$line-height    : 1.42857143;

$border-radius  : 4px;

$focus          : 4px solid color(link);

$selection-bg   : color(link);
$selection-text : color(white);

$container-width : 1200px;

$transition-time : 0.5s;
$transition-rule : cubic-bezier(0.075, 0.82, 0.165, 1);

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }
}
