@import 'constants';
@import 'colors';
@import 'media-variables';
@import 'functions-and-mixins';
@import 'z-index';

// включалки
$spacers_enable : true;
$styles_debug   : false !global;

// базовый отступ
$space          : $_SPACE;

$font-family    : $_FONT_FAMILY;
$font-size      : $_FONT_SIZE;
$line-height    : 1.42857143;

$border-radius  : 4px;

$focus          : 4px solid map-get($colors, link);

$selection-bg   : map-get($colors, link);
$selection-text : map-get($colors, white);

$container-width : 1200px;

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }
}
