<head>
  <title>@@title</title>

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" name="viewport" />
  <link href="assets/styles/style.css" rel="stylesheet" />

  <meta name="author" content="" />
  <meta name="description" content="@@description"/>
  <meta name="keywords" content=""/>

  <meta name="HandheldFriendly" content="true" />
  <meta name="robots" content="noodp, noydir" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="telephone=no" name="format-detection" />


  <link sizes="57x57" href="/apple-touch-icon-57x57.png" rel="apple-touch-icon"/>
  <link sizes="60x60" href="/apple-touch-icon-60x60.png" rel="apple-touch-icon"/>
  <link sizes="72x72" href="/apple-touch-icon-72x72.png" rel="apple-touch-icon"/>
  <link sizes="76x76" href="/apple-touch-icon-76x76.png" rel="apple-touch-icon"/>
  <link sizes="114x114" href="/apple-touch-icon-114x114.png" rel="apple-touch-icon"/>
  <link sizes="120x120" href="/apple-touch-icon-120x120.png" rel="apple-touch-icon"/>
  <link sizes="144x144" href="/apple-touch-icon-144x144.png" rel="apple-touch-icon"/>
  <link sizes="152x152" href="/apple-touch-icon-152x152.png" rel="apple-touch-icon"/>
  <link sizes="180x180" href="/apple-touch-icon-180x180.png" rel="apple-touch-icon"/>
  <link sizes="16x16" href="/favicon-16x16.png" rel="icon" type="image/png"/>
  <link sizes="32x32" href="/favicon-32x32.png" rel="icon" type="image/png"/>
  <link sizes="96x96" href="/favicon-96x96.png" rel="icon" type="image/png"/>
  <link sizes="160x160" href="/favicon-160x160.png" rel="icon" type="image/png"/>
  <link sizes="192x192" href="/favicon-192x192.png" rel="icon" type="image/png"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="icon" sizes="192x192" href="/favicon-192x192.png"/>
  <link rel="apple-touch-icon" href="/favicon-192x192.png"/>
  <meta name="msapplication-TileImage" content="/ifavicon-144x144.png"/>

  <meta itemprop="name" content="@@title"/>
  <meta itemprop="description" content="@@description"/>
  <meta itemprop="image" content="/image.jpg"/>

  <!-- Twitter Card data-->
  <meta name="twitter:card" content="product"/>
  <meta name="twitter:site" content="@publisher_handle"/>
  <meta name="twitter:title" content="@@title"/>
  <meta name="twitter:description" content="@@description"/>
  <meta name="twitter:creator" content="@author_handle"/>
  <meta name="twitter:image" content="http://www.example.com/image.html"/>
  <meta name="twitter:data1" content="$3"/>
  <meta name="twitter:label1" content="Price"/>
  <meta name="twitter:data2" content="Black"/>
  <meta name="twitter:label2" content="Color"/>

  <!-- Open Graph data-->
  <meta property="og:title" content="@@title"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="http://www.example.com/"/>
  <meta property="og:image" content="http://example.com/image.jpg"/>
  <meta property="og:description" content="@@description"/>
  <meta property="og:site_name" content="Site Name, i.e. Moz"/>
  <meta property="og:price:amount" content="15.00"/>
  <meta property="og:price:currency" content="USD"/>

  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="application-name" content=""/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-title" content=""/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="manifest" href="manifest.json"/>
  <link rel="yandex-tableau-widget" href="/manifest.json"/>
</head>
