<div style="padding: 20px 45px">
  <style>
    h1 {
      line-height: 1.1em;
      font-weight: 400;
    }
    p {
      line-height: 1.6em;
    }
    code, pre {
      font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
      font-size: 12px;
      line-height: 1.4;
    }
    .start {
      font-size: 11px;
      border-top: 1px solid #E5E5E5;
      margin-top: 5px;
      padding: 10px 10px 1px;
      line-height: 1;
    }
    .start p {
      margin: 0 0 5px 0;
    }
    .start__spacer,
    .start__help {
      color: #b6b6b6;
      font-size: 11px;
      line-height: 1;
      padding: 0 0 0 2px;
      margin: 0;
    }
    .start__item {
      min-width: 60px;
      display: inline-block;
    }
    .start__help {
      font-style: italic;
    }
  </style>
  <h1>@@title</h1>
  <p>Для начала удалите файл <code>app/templates/blocks/_start.html</code> и отредактируйте <code>app/templates/index.html</code>.</p>
  <div class="start">
    <p>
      <span class="start__item"><a href="progress.html" target="_blank">Прогресс</a></span>
      <span class="start__spacer">—</span>
      <span class="start__help">Страница структуры проекта и наглядного процесса работы над преоктом</span>
    </p>
    <p>
      <span class="start__item"><a href="guideline.html" target="_blank">Гайдлайны</a></span>
      <span class="start__spacer">—</span>
      <span class="start__help">Страница с общими типовыми элементами в каждом проекте, их стиялми и базовым JS</span>
    </p>
  </div>
</div>
