<div class="hello-world">
  <style>
    body {
      padding: 25px 35px;
    }
    h1 {
      line-height: 1.1em;
      font-weight: 400;
    }
    p {
      line-height: 1.6em;
    }
    code, pre {
      font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
      font-size: 12px;
      line-height: 1.4;
    }
  </style>
  <h1>@@title</h1>
  <p>Для начала удалите файл <code>app/templates/blocks/_start.html</code> и отредактируйте <code>app/templates/index.html</code>.</p>
</div><!-- /.hello-world -->
