// Кнопки
button[disabled=disabled],
button:disabled,
.button:disabled,
.button.disabled {
  background-color: rgb(247, 247, 248);
  border-color: rgb(214, 218, 221);
  //pointer-events: none;
  color: rgb(173, 177, 185);
  cursor: not-allowed;
}

button,
button.button {
  cursor: pointer;
}

.button {
  $root: &;

  -webkit-appearance: none;
  @include inline-flex-center;
  justify-content: center;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: $border-radius;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &_brand {
    background-color: var(--accent);
    color: #fff;
  }

  &_outline {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    border: 1px solid #DBE2E5;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03);
    border-radius: 4px;

    &:hover {
      border-color: #99ACB7;
    }
  }

  &_fake {

  }

  &_fake-link {

  }

  &_icon {
    @include inline-flex-center;

    #{$root}__symbol + #{$root}__text {
      margin-left: 10px;
    }
    #{$root}__text + #{$root}__symbol {
      margin-left: 10px;
    }
  }

  &__symbol {
    display: inline-flex;
    align-self: center;
    line-height: 1;
    flex-shrink: 0;
    vertical-align: top;
    //margin-left: -6px;

    &_start {
      margin-left: -5px;
    }

    &_end {
      margin-right: -5px;
    }
  }

  &_icon-single {
    @include inline-flex-center;
    width: 46px;
    height: 42px;

    #{$root}__text {
      @extend .visuallyhidden;
    }
  }
}
