.link {
  color: var(--link);
  border-bottom: 1px solid var(--link-border-color);
  text-decoration: none;
  transition: var(--global-transition-time) var(--global-transition-rule);

  //display: inline;
  //vertical-align: baseline;
  //padding: 4px 0 0;
  //background-color: transparent;
  //border: none;
  //border-bottom: 1px solid transparent;
  //font-family: inherit;
  //font-size: inherit;
  //line-height: inherit;
  //color: #109BD8;
  //text-decoration: none;
  //cursor: pointer;

  &_inverted {
    border-bottom-color: transparent;
  }

  &:hover,
  &.hover {
    border-bottom-color: var(--link-hover-border-color);
    color: var(--link-hover);
  }

  &:active,
  &.active {
    border-bottom-color: var(--link-active-border-color);
    color: var(--link-active-color);
  }

  &:visited,
  &.visited {
    border-bottom-color: var(--link-visited-border-color);
    color: var(--link-visited-color);

    &:hover {
      border-bottom-color: var(--link-hover-border-color);
      color: var(--link-hover-color);
    }
  }
}
