@mixin link {
  color: var(--link);
  border-bottom: 1px solid var(--link-underline);
  text-decoration: none;
  transition: $transition-time $transition-rule;

  &:hover,
  &.hover {
    color: var(--link-hover);
    border-bottom-color: var(--link-hover-underline);
  }

  &:active,
  &.active {
    color: var(--link-active);
    border-bottom-color: var(--link-active-underline);
  }

  &:visited,
  &.visited {
    color: var(--link-visited);
    border-bottom-color: var(--link-visited-underline);

    &:hover {
      color: var(--link-hover);
      border-bottom-color: var(--link-hover-underline);
    }
  }
}

.link {
  @include link;

  &_inverted {
    border-bottom-color: transparent;
  }
}
