caption {
  color: #000;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
}

table {
  background-color: transparent;
  border: 1px solid transparent;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}
