<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="imagetoolbar" content="no"/>
  <meta name="msthemecompatible" content="no"/>
  <meta name="cleartype" content="on"/>
  <meta name="HandheldFriendly" content="True"/>

  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="address=no"/>

  <meta name="google" value="notranslate"/>

  <meta name="theme-color" content="#ffffff"/>

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

  <!--<link rel="manifest" href="manifests/manifest.json"/>-->
  <!--<link rel="yandex-tableau-widget" href="manifests/yandex/manifest.json"/>-->

  <meta name="application-name" content="@@title"/>
  <meta name="msapplication-tooltip" content=""/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-TileImage" content="assets/images/i/mstile-large.png"/>
  <meta name="msapplication-starturl" content="/"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="msapplication-square70x70logo" content="assets/images/i/mstile-small.png"/>
  <meta name="msapplication-square150x150logo" content="assets/images/i/mstile-medium.png"/>
  <meta name="msapplication-wide310x150logo" content="assets/images/i/mstile-wide.png"/>
  <meta name="msapplication-square310x310logo" content="assets/images/i/mstile-large.png"/>

  <include src="_social.html"></include>

  <title>@@if (context.title) {@@title} @@if (!context.title) {Шаблон проекта быстрого старта}</title>
  <meta name="description" content="@@description"/>
  <meta name="keywords" content=""/>

  <link href="assets/styles/style.css" rel="stylesheet" />

	<script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
</head>
