.footer {
  border-top: 2px solid $light-color;

  &__wrap {
    padding: $space 0;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;

    @include bp(phone) {
      flex-direction: column;
    }
  }

  &__text {
    margin: 0;
  }
}
