*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-size-adjust: none;
}

html,
body {
  @include antialias;
  @include text-size-adjust(100%);
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;

  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;

  margin: 0;
  padding: 0;

  min-height: 100vh;
  min-width: 320px;

  transition: all 0.15s ease;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  color-scheme: light dark;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

main {
  flex: 1;
}

:focus {
  outline: var(--base-focus);
  outline-offset: 4px;
  -moz-outline-radius: 10px;
  transition: outline-offset 0.1s ease;
}

.using-mouse :focus {
  outline: none;
}
