.wrap {
  margin: 0 auto;
  max-width: var(--base-max-width, 1240px);

  @each $mq in $phone, $phablet {
    @media #{$mq} {
      padding: 0 var(--base-padding-horisontal, 20px);
    }
  }
}

.wrap-fluid {
  width: auto;
  max-width: none;
  padding: 0;
}
