<a href="/" class="file">
  <span class="file__type extension extension_pdf">pdf</span>
  <span class="file__type extension extension_xls">xls</span>
  <span class="file__type extension extension_zip">zip</span>
  <span class="file__info">
    <span class="file__title">Например, разные</span>
    <span class="file__summary">4.2 Мб</span>
  </span>
</a>

<a href="/" class="file">
  <span class="file__type extension extension_doc">docx</span>
  <span class="file__info">
    <span class="file__title">Например, DOC</span>
    <span class="file__summary">4.2 Мб</span>
  </span>
</a>

