.file {
  position: relative;
  display: inline-flex;
  border: 2px solid color(light);
  min-height: 60px;
  border-radius: 3px;
  padding: $space / 2 $space;
  color: inherit;
  text-decoration: none;

  margin-top: $space;
  margin-bottom: $space;

  &:hover {
    border-color: var(--link);
  }

  &__type {
    width: 30px;
    height: 40px;
    padding-top: 26px;
    background-image: url('../images/svg/file.svg');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2px;
  }

  &__info {
    margin-left: $space;
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
  }

  &__title {
    font-size: 15px;
    line-height: 20px;
  }

  &__summary {
    margin-top: 3px;
    font-size: 13px;
    line-height: 16px;
    color: #97b1bf;
  }
}

.extension {
  font-size: 9px;
  line-height: 12px;
  color: #fff;
  text-align: center;
  font-weight: bold;

  background-color: var(--extension-bg, var(--accent));

  &_pdf {
    --extension-bg: #ff0000;
  }

  &_doc {
    --extension-bg: #00A0DE;
  }

  &_xls {
    --extension-bg: #00B05A;
  }

  &_zip {
    --extension-bg: #748182;
  }
}
