@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ui-spin {
  animation-name: spin;
  animation-duration: .85s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shake {

  10%, 90% { transform: translate3d(-1px, 0, 0) }

  20%, 80% { transform: translate3d(2px, 0, 0) }

  30%, 50%, 70% { transform: translate3d(-4px, 0, 0) }

  40%, 60% { transform: translate3d(4px, 0, 0) }
}

.ui-shake {
  animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
