@mixin antialias {
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
   	       font-smoothing: antialiased;
}

@mixin text-size-adjust($value: none) {
  -webkit-text-size-adjust: $value;
     -moz-text-size-adjust: $value;
      -ms-text-size-adjust: $value;
}

@mixin cf() {
  *zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Ширина-высота для элемента в одном свойстве
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Псевдо-элементы
@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

// ellipsis
@mixin text-overflow($max-width) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: $max-width;
}

@mixin hidden {
	display: none !important;
	visibility: hidden !important;
}

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
         only screen and (min-device-pixel-ratio: 2) {
           @content;
         }
}
