$GeneralFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
$bodyBackground: rgba(255, 255, 255, 1)

@custom-media --latex-tablet (width <= 1000px)
@custom-media --latex-mobile (width <= 640px)
