$GeneralFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$BodyBackground: rgb(255,255,255);

$SelectBackground: rgb(255,102,0);
$SelectColor: rgb(255,255,255);

@custom-media --phone (min-width: 544px);
@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 992px);
@custom-media --large-desktop (min-width: 1200px);
