// https://css-tricks.com/snippets/css/css-diagnostics/
div:empty,
span:empty,
li:empty,
p:empty,
td:empty,
th:empty {
  padding: 20px;
  border: 5px dotted #ff0 !important;
}

*[alt=""],
*[title=""],
*[class=""],
*[id=""],
a[href=""],
a[href="#"] {
  border: 5px solid #ff0 !important;
}

applet,
basefont,
center,
dir,
font,
isindex,
menu,
s,
strike,
u {
  border: 5px dotted #f00 !important;
}

*[background],
*[bgcolor],
*[clear],
*[color],
*[compact],
*[noshade],
*[nowrap],
*[size],
*[start],
*[bottommargin],
*[leftmargin],
*[rightmargin],
*[topmargin],
*[marginheight],
*[marginwidth],
*[alink],
*[link],
*[text],
*[vlink],
*[align],
*[valign],
*[hspace],
*[vspace],
*[height],
*[width],
ul[type],
ol[type],
li[type] {
  border: 5px solid #f00 !important;
}

input[type="button"],
big,
tt {
  border: 5px dotted #3f0 !important;
}

*[border],
a[target],
table[cellpadding],
table[cellspacing],
*[name] {
  border: 5px solid #3f0 !important;
}
