// Слой для сравнения дизайна и вёрстки
.px2px {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9999;
  display: block;
  //width: width('_debug/px2px.png');
  //height: height('_debug/px2px.png');
  //margin: 0 0 0 width('_debug/px2px.png', -2);
  pointer-events: none;
  transition: all .3s;
  opacity: .4;
  //background-image: resolve('_debug/px2px.png');
  background-attachment: scroll;
  filter: invert(100%);
}
