<footer>
  <style media="screen">
    footer {
      margin: 1em 0;
    }
    .start {
      font-size: 11px;
      border-top: 1px solid #E5E5E5;
      margin-top: 5px;
      padding: 10px 10px 1px;
      line-height: 1;
      margin: 0 -20px 25px -10px;
    }
    .start p {
      margin: 0 0 5px 0;
    }
    .start__spacer,
    .start__help {
      color: #b6b6b6;
      font-size: 11px;
      line-height: 1;
      padding: 0 0 0 2px;
      margin: 0;
    }
    .start__item {
      min-width: 60px;
      display: inline-block;
    }
    .start__help {
      font-style: italic;
    }
  </style>
  <div class="start">
    <p>
      <span class="start__item"><a href="index.html" title="Страница структуры проекта и наглядного процесса работы над преоктом">Прогресс</a></span>
      <span class="start__spacer">—</span>
      <span class="start__help">Страница структуры проекта и наглядного процесса работы над преоктом</span>
    </p>
    <p>
      <span class="start__item"><a href="guideline.html" title="Страница с общими типовыми элементами в каждом проекте, их стиялми и базовым JS">Гайдлайны</a></span>
      <span class="start__spacer">—</span>
      <span class="start__help">Страница с общими типовыми элементами в каждом проекте, их стиялми и базовым JS</span>
    </p>
  </div><!-- /.start -->
</footer>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="assets/scripts/scripts.js"></script>
<!-- <script src="assets/scripts/vendor.js"></script> -->
