<div class="start-warp">
  <style type="text/css">
    body {
      padding: 20px;
      font-family: Textbook, sans-serif;
    }
    h1 {
      font-size: 35px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 25px;
      margin-top: 30px;
      margin-bottom: 35px;
    }
    ul, li {
      margin-left: 0;
    }
    ul li {
      list-style: none;
      margin-bottom: 0.7em;
      position: relative;
    }
    ul ul {
      display: block;
      margin: 0.5em 0 1em 1.5em;
      padding: 0;
      position: static;
    }
    ul {
      display: inline-block;
      position: relative;
      margin-left: 0;
      padding-left: 0;
    }
    .selected {
      font-weight: bold;
    }
    .progress {
      position: absolute;
      top: 0.1em;
      left: 100%;
      white-space: nowrap;
    }
    .progress.design {
      margin-left: 40px;
    }
    .progress.html {
      margin-left: 320px;
    }
    .progress.time {
      margin-left: 590px;
      opacity: .25;
    }
    progress {
      margin-right: 0.5em;
      width: 200px;
    }
    progress,  .progress_value {
      display: inline-block;
    }
    .readme pre {
      background: #fff0be;
      font-family: monospace;
      padding: 20px;
    }
    @media only screen and (min-device-width : 100px) and (max-device-width : 760px) {
      h1 {
          font-size: 120%;
          margin-bottom: 15px;
          margin-top: 5px;
          line-height: 22px;
      }
      h2 {
        font-size: 100%;
        margin-bottom: 20px;
        margin-top: 15px;
      }
      progress,
      .progress.design,
      .progress.time,
      .readme,
      h1 > span {
        display: none;
      }
      .progress.html {
        margin-left: 10px;
        font-size: 11px;
      }
      ul li {
        margin-bottom: 1px;
        font-size: 14px;
      }
      ul ul {
        margin: 0 0 0 10px;
      }
    }
  </style>
  <h1>Шаблон проекта для быстрого старта</h1>
  <ul class="navigation">

    <li class="selected">
      <strong class="selected">Карта сайта</strong>
      <div class="progress design"><strong>Дизайн</strong></div>
      <div class="progress html"><strong>Вёрстка</strong></div>
      <div class="progress time"><strong>Время</strong></div>
    </li>

    <li>
      <a href="index.html" class="link">Главная страница</a>
      <div class="progress design">
        <progress max="100" value="100"></progress>
        <span class="progress_value">100%</span>
      </div>
      <div class="progress html">
        <progress max="100" value="100"></progress>
        <span class="progress_value">100%</span>
      </div>
      <div class="progress time">—</div>
    </li>

  </ul>
  <div class="readme">
  <h2>Структура папок и файлов</h2>
<pre>./</pre>
  </div>
</div>
