<footer class="footer">
  <hr>
  <p><a href="https://github.com/4enki/spt" target="_blank">github.com/4enki/spt</a></p>
</footer>

<script src="assets/scripts/jquery-3.3.1.min.js"></script>
<script src="assets/scripts/scripts.js"></script>

<script src="//4enki.github.io/progress/progress.min.js"></script>
<script type="text/javascript">
  if ($) $(document).ready(function ($) {

    if ($.isFunction(window.projectPagesList)) {
      projectPagesList([
        'index',
      ]);
    }

  });
</script>
