{% set title = "Шаблон проекта для быстрого старта" %}

{# Шаринг #}
{% set og_url              = "" %}
{% set og_image            = "" %}
{% set og_description      = "" %}
{% set og_title            = ""  %}
{% set twitter_image       =  og_image %}
{% set twitter_url         =  og_url %}
{% set twitter_title       =  og_title %}
{% set twitter_description =  og_description %}
{% set twitter_nickname    =  og_description %}

{# Фавиконки #}
{% set app_url         = og_url %}
{% set favicons_path   = "/assets/images/favicons" %}
{% set brand_color     = "" %}
