{% import "./parts/globals.html" as global %}
{% from "./utils/picture.html"   import picture %}
{% from "./utils/svg.html"       import svg %}
{% from "./utils/youtube.html"   import youtube %}

<!DOCTYPE html>
  <html lang="ru" class="no-js">
  <head>
    {% include "./head/head.html" %}
  </head>
  <body{% if bodyclass %} class="{{ bodyclass }}"{% else %}{% endif %}>

    <a class="skip-link"
       href="#main"
       tabindex="0">Перейти к основному контенту</a>

    <!-- begin .wrap-overlay -->
    <div class="wrap-overlay"></div>
    <!-- end .wrap-overlay -->

    {% include "components/header/header.html" %}
    {% block header %}{% endblock %}

    <main id="main" class="main">
      {% block content %}{% endblock %}
    </main>

    {% block footer %}{% endblock %}

    {% include "components/footer/footer.html" %}

    {% include "./parts/svg-symbols.html" ignore missing %}

    <script src="assets/scripts/app.bundle.js" async></script>
  </body>
</html>
