---
title:       'Типовая текстовая страница'
description: ''
keywords:    ''
bodyclass: ''
---

{% extends "layouts/default.html" %}

{% block content %}
  <section class="page pb-40">
    <div class="page__wrap wrap">
      <div class="page__content typography">
        <h2>Кнопки</h2>
        <p>Дефолтная кнопка безцветна и имеет только базвые стили. В чистом виде применять ее нет смысла.</p>
        <button class="button">.button</button>
        <h3>Типы кнопок</h3>
        <button class="button button_brand">.button.button_brand</button>
        <button class="button button_outline">.button.button_outline</button>
        <h3>Иконки</h3>
        <button class="button button_icon">
          <span class="button__symbol button__symbol_start">
            {{ svg('i_fire', '18', '18') }}
          </span>
          <span class="button__text">.button.button_icon</span>
        </button>
        <button class="button button_icon">
          <span class="button__text">.button.button_icon</span>
          <span class="button__symbol button__symbol_end">
            {{ svg('i_attention', '18', '16') }}
          </span>
        </button>
        <button class="button button_icon-single">
          <span class="button__text">.button.button_icon-single</span>
          <span class="button__symbol ">
            {{ svg('i_calendar', '18', '18') }}
          </span>
        </button>

        <h2>Файлы</h2>
        {% include "components/file/file.html" %}

        <h2>Тоглер</h2>
        <label class="toggler">
          <span class="toggler__widget">
            <input class="toggler__checkbox" type="checkbox">
            <span class="toggler__background" role="presentation"></span>
            <span class="toggler__handler">Вкл/выкл.</span>
          </span>
          <span class="toggler__label">label для толглера. Может быть пустым или отсутствовать</span>
        </label>

        <h2>Аватар</h2>
        <a class="avatar" href="#">
          <span class="avatar__dummy">Фотография не загружена</span>
        </a>
      </div>
      <!-- /.welcome__content -->
    </div>
    <!-- /.welcome__wrap -->
  </section>
  <!-- /.welcome -->
{% endblock %}
