<li class="navigation__item">
  <div class="progress progress-link">
    <div class="url">
      <div class="url__link">
        <a href="@@href">@@name</a>
      </div><!-- /.url__link -->
      <div class="url__info">
        <span class="url__file" title="app/templates/@@href">@@href</span>
      </div><!-- /.url__info -->
    </div><!-- /.url -->
  </div><!-- /.progress-link -->

  <div class="progress progress-design hide">
    <progress max="100" value="@@design"></progress>
    <span class="progress_value">@@design%</span>
  </div><!-- /.progress-design -->

  <div class="progress progress-html hide">
    <progress max="100" value="@@html"></progress>
    <span class="progress_value">@@html%</span>
  </div><!-- /.progress-html -->

  <div class="progress progress-time hide">
    @@if (context.time) {@@time} @@if (!context.time) {&ndash;&ndash;:&ndash;&ndash;:&ndash;&ndash;}
  </div><!-- /.progress-time -->

</li><!-- /.sitemap__item -->
