<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Типовая текстовая страница" description="Типовая текстовая страница"></include>
  <body>
    <include src="blocks/_header/_header.html"></include>
    <div class="example-page">
      <h1>Очень длинный заголовок типовой страницы, чтобы настроить междустрочный интервал (интерлиньяж)</h1>
      <p class="lead">Лид — это первый абзац статьи, информативный отрывок позволяющий захватить внимание читателя на данном материале. Необязательный элемент.</p>
      <p>Эта страница создана для демонстрации блоков и элементов, которые используются на сайте, и служит руководством для всех, кто работает над ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Здесь же рассказывается о некоторых общих правилах оформления контента.</p>
      <p>Заголовок &lt;h1&gt; на странице должен быть использован только один раз!</p>
      <h2>Многострочный заголовок &lt;h2&gt;, длина которого иногда бывает так некстати</h2>
      <p>Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.</p>
      <h3>&lt;h3&gt; Делаем заголовки нарочито длинными, чтобы убедиться в правильном интерлиньяже</h3>
      <p>Текст состоит из некоторого количества предложений. Одно предложение, даже очень распространённое, сложное, текстом назвать нельзя, поскольку текст можно расчленить на самостоятельные предложения, а части предложения сочетаются по законам синтаксиса сложного предложения, но не текста. </p>
      <h4>&lt;h4&gt; В первую очередь нас интересуют интерлиньяж и отступы, но не стоит забывать и про сам заголовок</h4>
      <p>Заголовок &lt;h4&gt; используется для большой вложенности в сложной структере документов, например, выставленные счета на оплату, отчёты или информация о полученных знаниях и сертификатах, дефферинциированных по подтипам.</p>
      <h5>Заголовок пятого уровня &lt;h5&gt;</h5>
      <p>Заголовок &lt;h5&gt; используется только для вспомогательной информации, где есть вероятность появления шестого уровня разбивки.</p>
      <h6>Низкоуровневый заголовок &lt;h6&gt;</h6>
      <p>Самый «нижний» заголовок &lt;h6&gt; предваряет такие элементы, как «Комментарий» или «Таблица».</p>
      <h2>&lt;h2&gt; Теперь покажем несколько двустрочных<br>заголовков подряд</h2>
      <h3>&lt;h3&gt; Таким образом проверим их сочетание:<br>интерлиньяж и отступы</h3>
      <h4>&lt;h4&gt; Однако, в реальной ситуации подобных скоплений<br>заголовков лучше избегать</h4>
      <p>Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, озаглавливают.</p>

      <h2>Списки</h2>
      <p>Списки бывают нумерованные и ненумерованые. Принципы их оформления одинаковы.</p>
      <ul class="list">
        <li>Если пункты списка длинные и&nbsp;представляют собой развернутые предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться точкой.
          <ul class="list">
            <li>Если пункты списка длинные и&nbsp;представляют собой развернутые предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться точкой.</li>
            <li>Если пункты списка короткие, не&nbsp;являются самостоятельной законченной конструкцией и&nbsp;грамматически тесно связаны с&nbsp;предшествующей списку вводной фразой, они должны начинаться со&nbsp;строчной буквы и&nbsp;заканчиваться точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;— точка).</li>
          </ul>
        </li>
        <li>Если пункты списка короткие, не&nbsp;являются самостоятельной законченной конструкцией и&nbsp;грамматически тесно связаны с&nbsp;предшествующей списку вводной фразой, они должны начинаться со&nbsp;строчной буквы и&nbsp;заканчиваться точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;— точка).</li>
      </ul>
      <ol class="list">
        <li>Если пункты списка длинные и&nbsp;представляют собой развернутые предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться точкой.</li>
        <li>Если пункты списка короткие, не&nbsp;являются самостоятельной законченной конструкцией и&nbsp;грамматически тесно связаны с&nbsp;предшествующей списку вводной фразой, они должны начинаться со&nbsp;строчной буквы и&nbsp;заканчиваться точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;— точка).</li>
      </ol>
      <h3>Короткие пункты</h3>
      <ul class="list list-short">
        <li>с небольшими отступами;</li>
        <li>без маркеров;</li>
        <li>с цветовым выделением.</li>
      </ul>
      <p>Для использования такого списка необходимо на элемент <code>&lt;ul&gt;</code> добавить класс <code>.list-short</code>.</p>

      <h2>Оформление текста</h2>
      <p>Наиболее простыми способами выделения информации являются <strong>полужирное</strong> и&nbsp;<em>курсивное</em> начертания. Подробнее: <a class="external" href="http://www.artlebedev.ru/kovodstvo/sections/79/" target="_blank">§&nbsp;79. Делать фонт болдом или италиком?</a></p>
      <p>На&nbsp;этом сайте есть дополнительный способ выделения при помощи подсвечивания, для чего используется элемент <span class="highlighted">«Подсвеченный»</span> (класс <code>.highlighted</code>).</p>
      <h3>Комментарий</h3>
      <div class="comment"><p>Элемент «Комментарий» (класс <code>.comment</code>) применяется к&nbsp;пояснительному тексту. <em>И&nbsp;еще немного специально написанного текста, чтобы получилось несколько строк для наглядности.</em></p></div>
      <div class="important">
        <h3>Важно</h3>
        <p>Элемент «Важно». (класс <code>.important</code>), который используется для выделения особо важной информации. И еще немного специально написанного текста, чтобы получилось несколько строк для наглядности.</p>
      </div>
      <h3>Надстрочные и подстрочные индексы</h3>
      <p>Важно следить за тем, чтобы элементы надстрочных и подстрочных индексов не увеличивали высоту строки, потому что это портит вид текстового блока. Пример: 2<sup>3</sup>. Еще пример: H<sub>2</sub>SO<sub>4</sub>. В обоих случаях высота строки от индексов не должна меняться. Если отступ между первой и второй строками увеличился, значит, что-то сделано неправильно.</p>

      <h2>Ссылки</h2>
      <h3>Внешние ссылки и ссылки в новом окне</h3>
      <p>На сайте может встречаться несколько видов ссылок. Например, ссылка на <a href="https://yandex.ru/" class="external link" target="_blank">Яндекс</a> является внешней. Внутренние ссылки могут открываться по умолчанию в текущем окне (например, переход на <a href="/" class="link">главную страницу</a>) или в <a target="_blank" href="/" class="popup link">новом окне</a> (например, для показа изображений в оригинальном размере). Подробнее: §&nbsp;171. <a href="https://www.artlebedev.ru/kovodstvo/sections/171/" class="external" target="_blank">Правила оформления ссылок</a>.</p>
      <p>Стиль <span class="link pseudo">псевдоссылки</span> обеспечивается добавлением к нужному элементу класса <code>.pseudo</code>.</p>

      <h2>Сноски</h2>
      <p>Ссылку<sup class="footnote">1</sup> на сноску и название сноски нужно заключать в элемент «Сноска» (класс <code>.footnote</code>). Таким образом сохраняется связь между ссылкой на сноску и самой сноской<sup class="footnote">2</sup></p>
      <div class="footnotes footnotes_inited">
        <p><sup class="footnote">1</sup>А это текст сноски, который помещается в&nbsp;элемент «Сноски» (класс <code>.footnotes</code>).</p>
        <p><sup class="footnote">2</sup>Это позволит при необходимости сделать всплывающую сноску.</p>
      </div>

      <h2>Цитата</h2>
      <blockquote>
        <p>Я увидел всю сущность нашей правящей системы. Там было много очень послушных дураков и неучей.</p>
        <footer>Л. Н. Толстой. <cite title="Из письма к Л. Андрееву от 02.09.1902">Из письма к Л. Андрееву от 02.09.1902</cite></footer>
      </blockquote>

      <h2>Таблица</h2>
      <div class="table-responsive">
        <table class="table table-striped">
         <caption>Таблица с&nbsp;заголовочными ячейками, расположенными горизонтально.</caption>
         <thead>
            <tr>
               <th scope="row">#</th>
               <th>Заголовочная ячейка</th>
               <th>Заголовочная ячейка</th>
               <th>Заголовочная ячейка</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="row">1</th>
               <td>Ячейка с информацией</td>
               <td>Ячейка с информацией</td>
               <td>Ячейка с информацией</td>
            </tr>
            <tr>
               <th scope="row">2</th>
               <td>Ячейка с информацией</td>
               <td>Ячейка с информацией</td>
               <td>Ячейка с информацией</td>
            </tr>
            <tr>
               <th scope="row">3</th>
               <td>Ячейка с информацией</td>
               <td>Ячейка с информацией</td>
               <td>Ячейка с информацией</td>
            </tr>
         </tbody>
        </table>
      </div><!-- /.table-responsive -->

      <div class="table-responsive">
        <table class="table table-striped">
          <caption>Таблица с&nbsp;заголовочными ячейками, расположенными горизонтально.</caption>
          <tbody>
            <tr>
              <th>Заголовочная ячейка</th>
              <td>Ячейка с&nbsp;информацией</td>
              <td colspan="2">Ячейка с&nbsp;информацией</td>
              <td rowspan="3">Ячейка с&nbsp;информацией</td>
              <td>Ячейка с&nbsp;информацией</td>
            </tr>
            <tr>
              <th>Заголовочная ячейка</th>
              <td>Ячейка с&nbsp;информацией</td>
              <td>Ячейка с&nbsp;информацией</td>
              <td>Ячейка с&nbsp;информацией</td>
              <td>Ячейка с&nbsp;информацией</td>
            </tr>
            <tr>
              <th>Заголовочная ячейка</th>
              <td>Ячейка с&nbsp;информацией</td>
              <td>Ячейка с&nbsp;информацией</td>
              <td>Ячейка с&nbsp;информацией</td>
              <td>Ячейка с&nbsp;информацией</td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.table-responsive -->

      <h2>Раскрывающийся контент</h2>
      <p>Элемент «Раскрывающийся» (класс <code>.foldable</code>) используется для формирования раскрывающихся элементов. Например, для вопросов и ответов.</p>
      <div class="foldable">
        <div class="foldable__control">
          <span class="foldable__link link pseudo" data-text-close="Свернуть раскрывающийся контент" data-text-open="Показать раскрывающийся контент">Показать раскрывающийся контент</span>
        </div>
        <div class="foldable__content">
          <p>Элемент «Раскрывающийся» уместо использовать там, где скрываемая часть контента является больше вспомогательной по отношению к основному содержимому, чем смысловой.</p>
        </div><!-- /.foldable__content -->
      </div><!-- /.foldable-box -->
      <p>Контент прячется скриптом при инициализации страницы и в дальнейшем показывается по клику на контрол. Управляется классами <code>.foldable__content</code> и <code>.foldable__link</code>.</p>

      <h2>Формы</h2>
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Пароль</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Проверить меня
          </label>
        </div>
        <button type="submit" class="btn btn-default">Отправить</button>
      </form>

      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Пароль</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Запомнить меня
          </label>
        </div>
        <button type="submit" class="btn btn-default">Войти</button>
      </form>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <p class="form-control-static">email@example.com</p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
      </form>

      <h3>текст и стутсы</h3>
      <textarea class="form-control" rows="3"></textarea>

      <div class="form-group has-success">
        <label class="control-label" for="inputSuccess1">Успешный ввод</label>
        <input type="text" class="form-control" id="inputSuccess1">
      </div>
      <div class="form-group has-warning">
        <label class="control-label" for="inputWarning1">Ввод с предупреждением</label>
        <input type="text" class="form-control" id="inputWarning1">
      </div>
      <div class="form-group has-error">
        <label class="control-label" for="inputError1">Ввод с ошибкой</label>
        <input type="text" class="form-control" id="inputError1">
      </div>

      <h3>Флажки и радиоприемники</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Первая опция&mdash;выбирайте его, если вам нравится этот пункт
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Первая опция&mdash;выбирайте его, если вам нравится этот пункт
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Вторая опция - это несколько другое, и она отменяет выбор первой опции
        </label>
      </div>

      <p>Используйте <code>.checkbox-inline</code> или <code>.radio-inline</code> класса набором флажков или радиоприемников для управления отображениями на той же линии.</p>

      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
      </label>

      <h2>Хелп-текст</h2>
      <form role="form">
        <input type="text" class="form-control">
        <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
      </form>

      <h2>Кнопки</h2>
      <button type="button" class="btn btn-default">Default</button>

      <button type="button" class="btn btn-link">Ссылка</button>

      <a href="#" class="btn btn-primary btn-lg active" role="button">Главная ссылка</a>

      <a class="btn btn-default" href="#" role="button">Ссылка</a>
      <button class="btn btn-default" type="submit">Кнопка</button>
      <input class="btn btn-default" type="button" value="Input">
      <input class="btn btn-default" type="submit" value="Submit">

    </div><!-- /.example-page -->
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
